body {
    background-color: #fff;
    color: #000;
    text-align: center;
    padding: 100px;
}

#mainScreen {
    display:none;
}

#offlineOptions {
    text-align:center;
    overflow-y: hidden;
}